.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 4em;
}

.logo-container {
  display: flex;
  margin: 5rem;
}

.logo {
  position: relative;
  /*left: 21%;*/
  /* margin: 7em; */
  border-radius: 50%;
  height: 20em;
  right: 6%;
  margin-top: 2.7em;
}

.logo-text {
  float: left;
  margin-right: 12em;
  /*margin-top: 7em;*/
}

.text {
  font-size: 1.5em;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
}

.logo-title {
  margin-right: 7.5em;
  margin-top: 1.6em;
}

.text-container {
  margin: 2em;
}

