.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  margin-bottom: 10%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.title-section {
  position: absolute;
  width: 30%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  color: rgba(138, 126, 64, 0.81);
  mix-blend-mode: normal;
}

.first-title {
  height: 10%;
  left: 8.5%;
  top: 21.5%;
  font-size: 40px;
  /*line-height: 30%;*/
}

.first-title-text {
  height: 30%;
  left: 8.5%;
  top: 33%;
  font-size: 20px;
  line-height: 24px;
}

.buy-now {
  position: absolute;
  width: 160px;
  height: 6%;
  left: 17%;
  top: 58%;
  background: #000000;
  border-radius: 30px;
  color: white;
  font-size: 25px;
}

.buy-now:hover {
  background: #696969;
}

.blob1 {
  position: absolute;
  left: 29.86%;
  right: -1.3%;
  top: -40%;
  bottom: 35%;
}

.blob2 {
  position: absolute;
  left: -18%;
  right: -1.3%;
  top: 160%;
  height: 160%;
}

.logo {
  position: absolute;
  left: 58%;
  right: -1.3%;
  top: 21%;
  bottom: 35%;
  width: 20%;
}

.mid-page-container {
  position: absolute;
  width: 101%;
  top: 88%;
  background-color: #D6E18A;
  height: 150%;
}


.general-title {
  font-family: Montserrat;
  margin-top: 2%;
  align-self: right;
  color: #000000; 
  mix-blend-mode: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: right;
  margin-right: 2%;
}

.general-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: rgba(0, 0, 0, 0.81);
  mix-blend-mode: normal;
  margin-right: 2%;
}

.italicized {
  font-family: Montserrat;
  font-style: italic;
  font-weight: normal;
}

.it-title {
  font-size: 38px;
}

.info {
  font-size: 23px;
}

.info1 {
  width: 25%;
  margin-left: 5%;

}

.info2 {
  width: 25%;
  margin-left: 37%;
  margin-top: -6%;
}

.info3 {
  width: 25%;
  margin-left: 70%;
  margin-top: -6%;
}